.head-line {
    width: 100%;
    height: 7px;
    background-color: #a292b3;
}
.navigation {
    margin: 7px 140px 0px 140px;
    background-color: #fff;
}
.nav-grid {
    display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.navbar-position {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item {
    color: #a292b3;
    padding: 8px;
}
.icon {
    margin-top: -5px;
}
@media (max-width:978px) {
    .navigation {
        margin: 7px 50px 0px 50px;
    }
}
@media (max-width:520px) {
    .navigation {
        margin: 7px 10px 0px 10px;
    }
}